* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



.container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row-reverse;
    background-image: linear-gradient(to bottom, #333, #666);
}

.register-area {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    flex-basis: 600px;
    gap: 2rem;
}

.register-header img {
    width: 150px;
}

.register-header .register-title {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    color: #fff;
}

.register-form {
    width: 100%;
}

.input-control {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.input-control label {
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
}

.input-control input {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.5rem 0;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    background-color: transparent;
    border-bottom: 1px solid #999;
}

#gender-span {
    padding: 0.5rem 0;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    background-color: transparent;
    border-bottom: 1px solid #999;
}

#gender-span {
    cursor: pointer;
}

#gender-span i {
    margin-left: 1rem;
    vertical-align: middle;
}

.gender-choice {
    color: #333;
    background-color: #fff;
    padding: 1rem;
    display: none;
    position: absolute;
    top: 60px;
}

#input-gender {
    position: relative;
}

.gender-choice.open {
    display: block;
}

.gender-choice span {
    margin-right: 2rem;
    cursor: pointer;
}

.input-btn button {
    display: block;

    border: 1px solid #fff;
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    width: 100%;
    cursor: pointer;

    transition: background-color 0.3s;
}

.input-btn button:hover {
    background-color: #333;
    color: #fff;
}

.input-no-cpf {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 1rem 0;
    color: #fff;
    font-weight: 300;
}

.input-no-cpf input {
    max-width: 20px;
    margin-right: 1rem;
}

.input-cpf-disabled {
    opacity: 0.3;
}

.have-account {
    text-align: center;
}

.have-account span {
    color: #fff;
    font-weight: 200;
}

.have-account a {
    color: #31B5EB;
    font-weight: 400;
    text-decoration: none;
}

.have-account a:hover {
    text-decoration: underline;
}

.register-banner {
    width: 100%;
    min-height: 100%;

    background-image: url("../../img/banner/pexels-markus-winkler-3639869.jpg");
    background-position: center;
    background-size: cover;
}


@media screen and (max-width: 568px) {
    .container {
        justify-content: center;
    }

    .register-banner {
        display: none;
    }
}